body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #F5F4FA;
}
:root {
  --brand-color: #2196f3;
  --color-text-two: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* -----------------header--------------- */
ul {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.accent {
  color: var(--brand-color)
}
.site-nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.site-nav.current {
  color: var(--brand-color);
}
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-two);
}
.logo:hover,
.logo:focus {
  color: var(--brand-color);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--brand-color);
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--brand-color);
  cursor: pointer;
}
.logo-contacts:hover,
.logo-contacts:focus {
  color: var(--brand-color);
}

/*---------------------main------------------*/
.top {
  background-color: #2f303a;
}
.top-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  color: #ffffff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  color: #810d0d;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.priorities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
}
.priorities-text {
  font-size: 14px;
  line-height: 1,7;
  letter-spacing: 0.03em;
  color: var(--color-text-two)
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  letter-spacing: 0.03em;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  letter-spacing: 0.03em;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;
  letter-spacing: 0.03em;
}
.team-profession {
  font-size: 16px;
  line-height: 1,18;
  letter-spacing: 0.03em;
  color: var(--color-text-two)
}

/* --------------------footer----------------- */
.contacts {
  background-color: #2f303a;
}
.logo-contacts {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.accent {
  color: var(--brand-color)
}
.contacts-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}
.contacts-mail,
.contacts-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--brand-color)
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--brand-color)
}
.contacts-address:hover,
.contacts-address:focus {
  color: var(--brand-color)
}

/* -------------portfolio-------------- */
.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--brand-color)
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-two)
}