body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #F5F4FA;
}
:root {
  --brand-color: #2196f3;
  --color-text-two: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1170px;
  padding: 0px 15px;
  margin: 0px auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
 
}
img {
  display: block;
}
/* -----------------header--------------- */
header .container,
.header-nav,
.header-list,
.header-cont-list {
  display: flex;
}

.header-cont {
  margin-left: auto;
}
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
 
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.accent {
  color: var(--brand-color)
}
.link {
  text-decoration: none;
color: inherit;
}
.sait-nav {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}
.header-list .sait-nav:last-child {
  margin: 0;
}

/* .sait-nav.current {
  color: var(--brand-color);
} */
.auth-nav {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-two);
  padding-top: 32px;
  padding-bottom: 32px;
}

.tel {
  margin-left: 50px;
}
.logo:hover,
.logo:focus {
  color: var(--brand-color);
}
.link:hover,
.link:focus {
  color: var(--brand-color);
  /* cursor: pointer; */
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--brand-color);
  cursor: pointer;
}
.logo-contacts:hover,
.logo-contacts:focus {
  color: var(--brand-color);
}

/*---------------------main------------------*/
.top {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.top-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  color: #ffffff;
  margin-bottom: 30px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  color: #ffffff;
  padding: 10px 32px;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  min-width: 216px;
  height: 50px;
}
.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.priopitet-list {
  display: flex;
}
.priorities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.priorities-text {
  font-size: 14px;
  line-height: 1,7;
  letter-spacing: 0.03em;
  color: var(--color-text-two);
  max-width: 270px;
}
.priopitet-list .prioritet-item {
  margin-right: 30px;
}
.priopitet-list .prioritet-item:last-child {
  margin: 0;
}
.work-list {
  display: flex;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.work-list .work-img + .work-img {
  margin-left: 30px;
}
.team-list {
  display: flex;
}
.team-list .team-itam {
  margin-right: 30px;
}
.team-list .team-itam:last-child {
  margin: 0;
}
.team-itam {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;
  letter-spacing: 0.03em;
  margin: 30px auto 10px;
  text-align: center;
}
.team-profession {
  font-size: 16px;
  line-height: 1,18;
  letter-spacing: 0.03em;
  color: var(--color-text-two);
  margin-bottom: 30px;
  text-align: center;
}

/* --------------------footer----------------- */
.contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
 }
.logo-contacts {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.accent {
  color: var(--brand-color);
 }
.contacts-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
 }
.contacts-mail,
.contacts-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  margin-top: 9px;
 }

.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--brand-color)
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--brand-color)
}
.contacts-address:hover,
.contacts-address:focus {
  color: var(--brand-color)
}

/* -------------portfolio-------------- */
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
 }
.portfolio-filter .portfolio-button-filter {
  margin-right: 8px;
}
.portfolio-filter .portfolio-button-filter:last-child {
  margin: 0;
}
.portfolio-button-filter {
  display: inline-block;

}
.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  background: #F5F4FA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--brand-color)
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.border {
  border-width: 1px;
  border-color: #EEEEEE;
  border-style: solid;
}
.portfolio-list {
  
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-two);
  margin-top: 4px;
}